:root {
  --bg-light: #f8f8f8;
  --border-dark: #1e293b;
  --text-md: 1rem;
  --aplazo-aplazo: #007bff;
  --nav-height: 6rem;
  --main-padding-top: 6rem;
}

.aplazo-dash__nav {
  background-color: var(--bg-light);
  border-bottom: 1px solid var(--border-dark);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  height: var(--nav-height);
}

.aplazo-dash__nav-content {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  flex: 1;
}

.aplazo-dash__nav-banner {
  position: relative;
  line-height: 1.5;
  margin: auto 0;
  background-color: var(--aplazo-aplazo);
  padding: 0.75rem 3rem;
  font-size: var(--text-md);
}

.aplazo-dash__nav-banner.hidden {
  display: none;
}

.aplazo-dash__nav-banner--container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--aplazo-aplazo);
}

.aplazo-dash__nav-banner--container button {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.aplazo-dash__toggle-sidebar {
  display: none;
  @apply lg:hidden;
}

.aplazo-dash__logo-container {
  display: flex;
  align-items: center;
  width: fit-content;
  @apply lg:w-64;
}

.aplazo-dash__logo {
  display: none;
  @apply lg:inline-block;
}

.aplazo-dash__sidebar {
  position: fixed;
  left: 0;
  z-index: 40;
  width: 16rem;
  height: 100vh;
  min-height: fit-content;
  overflow-y: auto;
  margin: auto 0;
  padding-top: 6rem;
  transition: transform 0.3s;
  background-color: var(--bg-light);
  border-right: 1px solid var(--border-dark);
  top: var(--nav-height);
  @apply lg:translate-x-0;
}

.aplazo-dash__sidebar.hidden {
  transform: translateX(-100%);
}

.aplazo-dash__main {
  height: auto;
  @apply lg:ml-64;
  padding-top: var(--main-padding-top);
}

.aplazo-dash__backdrop {
  position: fixed;
  inset: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
}
